[jenkins]
JENKINS_URL: https://jenkins.example.com
SLACK_BOT_TOKEN: xoxb-11111111111-222222ccccccccccDDDDDDDD


[job1]
JOB_NAME: deploy_test
JOB_TOKEN: 11112222aaaabbbb33334444ccccddddeeee
TRIGGER_PHRASE = @jenkins test

SLACK_CHANNEL: C0111DDD
SLACK_USERS: joe bill
